.goods_detail_index {
  .detail_swiper {
    swiper {
      height: 65vw;
      text-align: center;
      image {
        width: 70%;
      }
    }
  }
  .detail_price {
    color: var(--themeColor)
  }
  .detail_name_row {
    display: flex;
    .name_row_text {
      flex: 8;
    }
    .name_row_collect {
      flex: 2;
      text-align: center;
    }
  }

}